<!DOCTYPE html>


{% block content %}
<html lang="en">
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Tilt+Neon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

</body>

    <!--
        {% for obj in bootstrap %}

    <link href="{{obj.CSS_Href}}" rel="stylesheet" integrity="{{obj.CSS_Integrity}}" crossorigin="anonymous">
    <script src="{{obj.CSS_Script_Source}}" integrity="{{obj.CSS_Script_Integrity}}" crossorigin="anonymous"></script>

    <script src="{{obj.JS_Script_1}}" integrity="{{obj.JS_Script_1_Integrity}}" crossorigin="anonymous"></script>
    <script src="{{obj.JS_Script_2}}" integrity="{{obj.JS_Script_2_Integrity}}" crossorigin="anonymous"></script>

        {% endfor %}
     -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% for obj in website_title %}
    <title>{{obj.Title}}</title>


 <nav class="navbar bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mx-auto "  style= "font-family: 'Playfair Display', serif;" href="/">{{obj.Title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" style= "font-family: 'Playfair Display', serif;" id="offcanvasNavbarLabel">{{obj.Title}}</h5>
          {%endfor%}
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
                <a class=" nav-link dropdown-toggle" style="font-family: Playfair Display, cursive" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    📅 Calendar 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Calendar for all Orchestras</a></li>
    
                  <li><a class="dropdown-item text-black"  style="font-family: Libre Baskerville, cursive; font-weight: 1;" href="#">Orchestra Calendar for Intermediates</a></li>
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Orchestra Calendar for Middle School</a></li>
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Orchestra Calendar for High School</a></li>
    
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-family: Playfair Display, cursive" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 🏫 Schools
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item"  style="font-family: Libre Baskerville, cursive" href="#">Intermediates</a></li>
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Middle School</a></li>
                  <!--<li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">High School</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-family: Playfair Display, cursive" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 📚 Resources
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Private Lessons</a></li>
                  <!--<li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style="font-family: Playfair Display, cursive" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                🪙 Financial 
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Instrument Rentals</a></li>
                  <li><a class="dropdown-item" style="font-family: Libre Baskerville, cursive" href="#">Sponsor the Jenks Orchestra</a></li>
                 <!-- <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                </ul>
              </li>
          </ul>
      
        </div>
      </div>
    </div>
  </nav>
  
</head>
<body>
<!----> 
<div class="bg-light"> <!-- background color -->
    <div class="container">
        <br>
        <br>
        <br>
        <h1 >Home:</h1>

        {% for obj in links %}
        <a href="{{obj.HyperLink}}" type="button" class="btn btn-secondary">{{obj.Name}}</a>
        <br>
        <br>

        {% endfor %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
     
    </div>
 
</div>
</body>
</html>
{% endblock %}
